html, body {margin: 20; height: 100%; overflow: hidden}
.right-menu{
    width: 100%;
    height: 100vh;
    background-color: #E7D09E;
}
.top-menu{
    background-color: #E7D09E;
    font-family: "Cairo";
    font-weight: bold;
    font-size: xx-large;
    
}

.input-form{
    font-family: "Cairo";
    color: #E7D09E;
    border-radius: 100px;
}
.btn-form{
    font-family: "Cairo";
    background-color: #E7D09E;
    border-radius: 100px;
    color: white;
    font-size: large;
}

.lien-menu{
    font-family: "Cairo";
    font-weight: bold;
    font-size: large;
    color: white;
    text-decoration: none;
}
.lien-menu:hover , .lien-active {
    font-family: "Cairo";
    font-weight: bold;
    font-size: large;
    color: black;
    text-decoration: none;
}



.form-control:focus {
    border-color: #E7D09E;
    box-shadow: 0 0 0 0.2rem #E7D09E;
} 

.icon{
    height: 50px; 
    width: 50px;
}

.scrollbar{
    overflow-y: auto;
    height: 100vh;
}

.table-head{
    background-color: #E7D09E;
}

.number-rtl{
    text-align: right;
}
.text-show{
    font-family: "Cairo";
   
}
.text-lbl{
    color: #E7D09E;
}
.show-hd-ft-clr{
    background-color: #e7d09e73;
}
.home-card{
    border-radius: 25px 25px 25px 25px  ;
    border: #E7D09E solid;
    box-shadow:#E7D09E -5px 5px 5px ;
}
.spinner {
    display: block;
    position: fixed;
    z-index: 1031; /* High z-index so it is on top of the page */
    top: calc( 50% - ( 20px / 2) ); /* where ... is the element's height */
    right : calc( 50% - ( 30px / 2) ); /* where ... is the element's width */
    color: #E7D09E;
    
  }

  #backdrop {
    position:absolute;
    top:0;
    right: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color:rgb(0,0,0,0.2);
  }

  figcaption{
      font-family: "cairo";
      font-size: 50px;
      
  }



